.slider-container {
    background-color: #111;
    flex: 1;
    position: relative;
    overflow: hidden;

    .reader-image-container {
        position: relative;
        width: 100%;
        height: 100%;

        .ant-btn-default:disabled {
            background-color: #ffffff;
            border-color: #d9d9d9;
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
        }

        .navigate-button-right,
        .navigate-button-left {
            position: absolute;
        }

        .navigate-button-left {
            top:50%;
            left: 30px

        }
        .navigate-button-right {
            top: 50%;
            right: 30px;
        }
    }

    &div:first-child {
        height: calc(100vh - 70px);
        overflow: hidden;
    }

    .each-slide-effect {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        width: inherit;
        height: inherit;
    }

    .react-slideshow-wrapper {
        height: calc(100vh - 70px);   
    }

    .react-slideshow-container .nav:first-of-type {
        left: 30px;
    }

    .react-slideshow-container .nav:last-of-type {
        right: 30px;
    }

}

.sidebar-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.reader-container {
    display: flex;
    flex-direction: row;
}

#imageCanvas, #imageCanvas01 {
    display: block;
    height: calc(100vh - 70px);   
    object-fit: contain;


    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}

.manual-action-button {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#outlinesContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0.5;
    border: 5px solid black;
    display: block;
}